/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 /* admin.css */
 .event-reservation-blocker table th, table td {
    padding: 10px;
}
.event-reservation-blocker .form-table {
    border-bottom: unset;
    padding-bottom: 0;
    margin-bottom: 20px;
}

.event-reservation-blocker hr {
    margin-top: 40px;
}